/* @import "./colors/one-dark.css"; */
/* @import "./colors/one-dark.css"; */
@import "./colors.css";

* {
  border: none;
  border-radius: 0px;
  font-family:
    "FiraCode Nerd Font", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background-color: @background;
  border: 1px solid @color6;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
  padding: 6px;
}
#window {
  margin: 0 0 0 8px;
  color: @color8;
}

#workspaces {
  background-color: @background;
  padding: 5px 3px;
  margin: 0 0 0 6px;
  border-radius: 18px;
  border: 1px solid @color0;
  color: @foreground;
}

#workspaces button {
  background-color: @background;
  color: @color8;
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 36px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active,
#workspaces button.focused {
  color: @cursor;
  background-color: @color0;
  min-width: 36px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @color13;
  color: @background;
  border-radius: 16px;
  min-width: 36px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background-color: #ff707e;
  color: @background;
  border-radius: 16px;
  min-width: 36px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-ethernet,
#clock,
#custom-notification,
#custom-power {
  background-color: @background;
  padding: 0 10px;
  margin: 0 0 0 6px;
  border-radius: 36px;
  border: 1px solid @color8;
}

#clock {
  color: @foreground;
}

#custom-notification {
  color: @color15;
}

#pulseaudio {
  color: @color11;
}

#network {
  color: @color14;
}

#battery {
  color: @color9;
}

#custom-power {
  color: @color5;
  margin: 0 8px;
}

#custom-power:hover {
  color: @color6;
}

#mpris {
  margin: 0 0 0 8px;
  color: @cursor;
}

#bluetooth {
  color: @color12;
}

#custom-ethernet {
  color: @color14;
}
